<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Submissions: BJJ Training Journal</title>
  <link href="/stylesheets/library.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

</head>
<body>

<div class="flex-page">

<div class="nav-container">

  <div class="pages-container">
      <a href="entries">Journal</a>
      <p style="margin: 0px">|</p>
      <a href="goals">Goals</a>
      <p style="margin: 0px">|</p>
      <a href="library">Library</a>

  </div>

  <div class="account-container">
     <a href="signout">Sign Out</a>
  </div>

</div>


<div class="heading">
  <img src="/stylesheets/headerCUTS.png">
</div>



  <div class="library-body">
    <div class="tree-box">
        <div class="passing" id="passing">
            <h2>PASSING</h2>
        </div>

          <div id="passing-options" class="passing-options" style="display:none;">

             <h3 id="x-pass" style="cursor: pointer;">X-Pass</h3>
               <div id="x-passes" class="x-passes" style="display:none;">
                 <a id="standxpass" style="cursor:pointer;">Standard X-Pass</a>
                   <iframe id="standxpassvid" style="display:none;" width="560" height="315" src="https://www.youtube.com/embed/nK2dfFyU84I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 <a id="" style="cursor:pointer;"></a>
               </div>

             <h3 id="kneecut" style="cursor: pointer">Knee Cut</h3>
               <div id="kneecuts" class="kneecuts" style="display:none;">
                <a id="lepriknee" style="cursor:pointer;">Lucas Lepri Knee Cut</a>
                  <iframe id="leprikneevid" style="display:none;" width="560" height="315" src="https://www.youtube.com/embed/3IqCi1GXmOg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <a id="domknee" style="cursor:pointer;">Basic Knee Cut Details</a>
                  <iframe id="domkneevid" style="display:none;" width="560" height="315" src="https://www.youtube.com/embed/jpDBO1T_3ZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>

             <h3 id="toreando" style="cursor: pointer">Toreando</h3>
               <div id="toreandos" class="toreandos" style="display:none;">
                <a id="jonttoreando" style="cursor:pointer;">Jon Thomas Toreando Guide</a>
                  <iframe id="jonttoreandovid" style="display:none;" width="560" height="315" src="https://www.youtube.com/embed/BZCnqNI9CVI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <a id="" style="cursor:pointer;"></a>
               </div>

             <h3 id="lassopass" style="cursor: pointer">Lasso Pass</h3>
               <div id="lassopasses" class="lassopasses" style="display:none;">
                <a id="leprilassopass" style="cursor:pointer;">Lucas Lepri Lasso Pass</a>
                  <iframe id="leprilassopassvid" style="display:none;" width="560" height="315" src="https://www.youtube.com/embed/aVxynV22DTY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <a id="" style="cursor:pointer;"></a>
               </div>

          </div>

        <div class="submissions" id="submissions">
            <h2>SUBMISSIONS</h2>
        </div>

          <div id="submission-options" class="submission-options" style="display:none;">
             <div class="chokes">
             <h3 id="chokes" style="cursor:pointer;">CHOKES</h3>
             </div>

             <div id="choke-options" style="display:none;">

               <div id="triangles" class="triangles">
               <h4 style="cursor:pointer;">Triangle Choke</h4>
               </div>
                 <div id="triangle-options" class="triangle-options" style="display:none;">
                   <a id="3setups" style="cursor:pointer;">3 Simple Setups</a>
                     <iframe id="3setupsvid" style="display:none;" width="560" height="315" src="https://www.youtube.com/embed/XsHxv8i4npc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   <a id="" style="cursor:pointer;"></a>
                 </div>

               <div id="darces" class="triangles">
               <h4 style="cursor:pointer;">D'arce Choke</h4>
               </div>
               <div id="darce-options" class="darce-options" style="display:none;">
                 <a id="3darcesetups" style="cursor:pointer;">3 D'arce Setups</a>
                   <iframe id="3darcesetupsvid" style="display:none;" width="560" height="315" src="https://www.youtube.com/embed/-xWYkAdlnss" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 <a id="escapedarce" style="cursor:pointer;">Side Control Escape to D'arce</a>
                   <iframe id="escapedarcevid" style="display:none;" width="560" height="315" src="https://www.youtube.com/embed/BBNb56QFmGs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                 <a id="nsdarce" style="cursor:pointer;">Side Control to North/South Finish</a>
                   <iframe id="nsdarcevid" style="display:none;" width="560" height="315" src="https://www.youtube.com/embed/em2oDXWXH0g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>

               </div>

             <div class="locks">
             <h3 id="" style="cursor: pointer">LOCKS</h3>
               <div id="" class="" style="display:none;">
                <a id="" style="cursor:pointer;"></a>

                <a id="" style="cursor:pointer;"></a>

               </div>
               </div>

             <div class="legs">
             <h3 id="" style="cursor: pointer">LEGS</h3>
               <div id="" class="" style="display:none;">
                <a id="" style="cursor:pointer;"></a>

                <a id="" style="cursor:pointer;"></a>
               </div>
               </div>


          </div>
    </div>
  </div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="library.js"></script>

</body>
</html>