<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Submissions: BJJ Training Journal</title>
  <link href="/stylesheets/failed.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>

<div class="flex-page">

    <div class="heading">
        <img src='../../stylesheets/headerCUTS.png'>
    </div>


  <div class="login-failed">
    <h3>Login Failed</h3>
    <a href="/">Try Again</a>
  </div>




</div>


</body>
</html>