body {
    background-image: url("JJBackground2finer.jpg");
    background-position: center;
    background-size: cover;
    font-family: "Oswald", sans-serif;
    background-color: rgb(23,32,45);
    margin: 0px;
    text-decoration: none;
}

.flex-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.heading {
    margin-top: 45px;

}

.login-entry {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
}

.login-failed {
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration-style: none;
}