body {
    background-image: url("JJBackground2finer.jpg");
    background-position: center;
    background-size: cover;
    font-family: "Oswald", sans-serif;
    background-color: rgb(23,32,45);
    margin: 0px;
}

.flex-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.heading {
    margin-top: 25px;
    margin-bottom: 20px;
    color: rgb(206, 84, 68);
    font-size: 40px;
    text-align: center;
}

.nav-container {
    background-color: rgba(120,120,120,0.7);
    border-bottom: 1px solid black;
    font-size: 20px;
    padding: 5px 50px 5px;
    justify-content: space-between;
}

.pages-container {
    display: flex;
    float: left;
}

.pages-container a, .pages-container p {
    color: white;
    text-decoration: none;
    padding-right: 15px;

}

.pages-container a:hover {
    color: rgb(206, 84, 68);
}

.account-container {
    float: right;
    padding-bottom: 0px;
    padding-top: 0px;
}

.account-container a {
    color: white;
    text-decoration: none;
}

.account-container a:hover {
    color: rgb(206, 84, 68);
}

.container {
    display: flex;
    //height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.container-1 {
    display: flex;
    flex: 2;
    margin-right: 50px;
    margin-left: 50px;
}


.container-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 50px;
}


.latest-entries {
    margin-top: 14px;
}

.new-entry, .current-goals, .latest-entries {
    color: rgb(206, 84, 68);
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
    text-decoration: none;
}


.entries li {
    background-color: rgba(120,120,120,0.6);
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    list-style-type: none;
    margin: 12px 10px auto auto;
    padding: 8px;
    flex: 1;
}

ul {
    padding: 0px;
}

.date {
    color: black;
    font-size: 14px;
}

.note {
    color: white;
    font-size: 20px;
    white-space: pre-wrap;
}

.entry-submit-button {
    background-color: rgb(206, 84, 68);
    color: black;
    font-family: "Oswald", sans-serif;
    border: 0px solid black;
    border-radius: 5px;
}

.entry-submit-button:hover {
    cursor: pointer;
    background-color: black;
    color: rgb(206, 84, 68);
}

.note-input {
   margin-top: 8px;
   margin-left: 0px;
}

.form-fields  {
    margin: 0px;

}

.delete-button {
    color: rgb(206, 84, 68);
    border: 0px solid black;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

.delete-button:hover {
    text-decoration: underline;
    color: black;
}

.edit-button {
    margin-left: 10px;
    color: rgb(206, 84, 68);
    border: 0px solid black;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

.edit-button:hover {
    text-decoration: underline;
    color: black;
}

.editSubmit {
    font-family: "Oswald", sans-serif;
    color: black;
    background-color: rgb(206, 84, 68);
    border: 0px solid black;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

.editSubmit:hover {
    cursor: pointer;
    background-color: black;
    color: rgb(206, 84, 68);
}

.editCancel {
    font-family: "Oswald", sans-serif;
    color: black;
    background-color: rgb(206, 84, 68);
    border: 0px solid black;
    border-radius: 5px;
    font-size: 13px;
    margin-right: 5px;
    cursor: pointer;
}

.editCancel:hover {
    cursor: pointer;
    background-color: black;
    color: rgb(206, 84, 68);
}

.current-goals {
    margin-top: 50px;
}

.current-goals-list {
    background-color: rgba(120,120,120,0.6);
    color: white;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    margin-top: 8px;
    padding: 8px;
    list-style-position: inside;
}

.current-goals-list li {
    font-family: 'Oswald', sans-serif;
}

